<h4 class="sectionName" ng-if="!content.section.isDuplicate">{{content.section.name}}</h4>
<div>
    <table>
        <td valign=top class="deLabel optionLabel">
            {{content.section.dataElements[0].name}}
        </td>

        <td valign=top><table class="optionsetTable">
            <tr ng-repeat="optionRow in content.section.dataElements[0].rows">
                <td valign=top ng-repeat="option in optionRow" class="checkboxcontainer option">
                    <input type="checkbox" class="pffcheckbox">{{option.name}}</input>
                </td>
            </tr>
        </table>
        </td>
    </table>
</div>


