.text-label {
  margin: 4mm 0 2mm 0;
  height: 4mm;
}

.input-field {
  border-bottom: 1px solid #000000;
}

.text-input {
  height: 3mm;
  margin: 2mm 0 4mm 0;
}

.long-text-input {
  height: 6mm;
  margin: 8mm 0 4mm 0;
}

.header-component {
  height: 4mm;
  margin: 3mm 0 2mm 0;
  font-size: 3mm;
}

.title-component {
  height: 5mm;
  margin: 1mm 0 1mm 0;
  font-size: 3mm;
}