// Header
.header-pane-wrapper {
  width: 87mm;
  display: inline-block;
  vertical-align: top;
}

.header-new {
  height: 30mm;
}

.header-component {
  height: 6mm;
  padding: 1.5mm 0 1.5mm 0;
  font-size: 3mm;
}
//...................
/* title */

.title-component {
  padding: 2mm 0 2mm 0;
  font-weight   : 600;
  font-size     : 4mm;
}
//..........................
// Section Title
.section-title {
  margin: 3mm 0 0mm 0;
  font-size: 3mm;
  padding: 1mm 2mm 1mm;
  border: 2px solid #000000;
}
//....................
// Boolean
.boolean-label {
  margin: 4mm 0 2mm 0;
  height: 5mm;
}

.boolean-field-checkbox {
  margin-right : 2mm !important;
}

.boolean-field {
  height: 20mm;
}

.option-container {
  margin-bottom: 2mm;
}
//....................

// Text
.text-label {
  height: 10mm;
  padding: 3mm 0 3mm 0;
}

.text-input {
  height: 10mm;
  padding: 3mm 0 3mm 0;
}

.input-field {
  border-bottom: 1px solid #000000;
}

//....................

/*long text*/

.long-text-input {
  height: 20mm;
  padding: 16mm 0 8mm 0;
}
//..................

/* option set */

.option-label {
  height: 10mm;
  padding: 3mm 0 3mm 0;
}

.option-field {
  height: 10mm;
  padding: 3mm 0 3mm 0;
}
//.........................


//Cat Comb
.text-center {
  text-align: center;
}