<table border="1">
  <tr>
    <td class="sno-header">
      S.NO
    </td>
    <td class="deLabel" ng-repeat="dataElement in content">
      {{dataElement.displayName}}
    </td>
  </tr>
  <tr ng-repeat="row in rows track by $index">
    <td class="sno-value" style="height:{{rowHeight}}mm">{{$index + 1}}</td>
    <td ng-repeat="dataElement in content" ng-class="getClass(dataElement)">
    </td>
  </tr>
</table>


<!--addOptionSet(){-->
 <!--if(optionSet.length > )-->
  <!--break-->
<!--}-->
<!--_map(allOptionSets, function(optionSet){-->
  <!--if(length < )-->
  <!--addOptionSet(optionSet);-->
<!--else-->
 <!--breakAndAddOptionSet()-->
<!--})-->
<!--fillRow1()-->

<!--[{code, value type:heading},{code, value, type: explainer}] [] []-->


<!--<tr ng-repeat="row in totalrows by index">-->
  <!--<td>-->
    <!--<explainer-heading ng-if="array1[index].type==='heading'"></explainer-heading>-->
    <!--<explainer ng-if="array1[index].type=='heading'"></explainer>-->
  <!--</td>-->
  <!--<td></td>-->
  <!--<td></td>-->
<!--</tr>-->