<link ng-if="mode=='coversheet'" href="coversheet.css" rel="stylesheet" type="text/css">
<link ng-if="mode=='register'" href="register.css" rel="stylesheet" type="text/css">
<span ng-controller="programCtrl">
<div class="datasetName">{{programName}}</div>
    <table class="header">
        <tr>
            <td class="headerLabel">
                Org Structure
            </td>
            <td class="headerField"></td>

            <td  class="seperator"></td>

            <td class="headerLabel">
                Supervisor
            </td>
            <td class="headerField"></td>

            <td  class="seperator"></td>

            <td class="headerLabel">
                Period
            </td>
            <td class="headerField"></td>

        </tr>
    </table>


<span ng-if="mode=='coversheet'">
<div ng-repeat="content in contents">


    <div ng-if="content.type == 'section' && content.section.isCatComb " class="section">
        <h4 class="sectionName" ng-if="!content.section.isDuplicate">{{content.section.name}}</h4>
        <table border="1" style="width:{{getTableWidth(content.section)}}">
            <thead>
            <tr>
                <td></td>
                <td class="table-heading"
                    ng-repeat="catComb in content.section.dataElements[0].categoryCombo.categoryOptionCombos"
                    ng-bind-html="catComb.name | to_trusted">
                </td>
            </tr>
            </thead>
            <tr ng-repeat="dataElement in content.section.dataElements">

                <td class="deLabel catComb">
                    {{dataElement.name}}
                </td>
                <td class="deField"
                    ng-repeat="catComb in content.section.dataElements[0].categoryCombo.categoryOptionCombos">

                </td>
            </tr>
        </table>
    </div>
    <div class="section" ng-if="content.type=='section' && content.section.isOptionSet">
        <h4 class="sectionName" ng-if="!content.section.isDuplicate">{{content.section.name}}</h4>
        <div>
            <table>
                <td valign=top class="deLabel optionLabel">
                    {{content.section.dataElements[0].name}}
                </td>

                    <td valign=top><table class="optionsetTable">
                    <tr ng-repeat="optionRow in content.section.dataElements[0].rows">
                        <td valign=top ng-repeat="option in optionRow" class="checkboxcontainer option">
                         <input type="checkbox" class="pffcheckbox">{{option.name}}</input>
                        </td>
                        </tr>
                        </table>
                </td>
            </table>
        </div>
    </div>
    <div class="section" ng-if="content.type=='section' && !content.section.isCatComb && !content.section.isOptionSet">
        <h4 class="sectionName" ng-if="!content.section.isDuplicate">{{content.section.name}}</h4>
        <table style="width:90%">

            <tr ng-repeat="dataElement in content.section.leftSideElements">

                <td class="deLabel general">
                    {{content.section.leftSideElements[$index].name}}
                </td>
                <td class="yesno" ng-if="content.section.leftSideElements[$index].type=='BOOLEAN'">
                    <input type="checkbox" class="pffcheckbox">Yes
                    <span style="margin-right: 5mm"></span>
                    <input type="checkbox" class="pffcheckbox">No
                </td>
                <td class="deField" ng-if="content.section.leftSideElements[$index].type!='BOOLEAN'"></td>


                <td class="seperator" style="width:1cm"></td>


                <td class="deLabel general" ng-if="content.section.rightSideElements[$index]">
                    {{content.section.rightSideElements[$index].name}}
                </td>
                            <span ng-if="content.section.rightSideElements[$index]">
                                <td class="yesno" ng-if="content.section.rightSideElements[$index].type=='BOOLEAN'">
                                    <input type="checkbox">Yes</input>
                                    <input type="checkbox">No</input>
                                </td>
                                <td class="deField" ng-if="content.section.rightSideElements[$index] && content.section.rightSideElements[$index].type!='BOOLEAN'"></td>
                            </span>
            </tr>
        </table>
    </div>
    <span ng-if="content.type=='comments'">
        Comments: <hr style="margin-top:8mm;margin-bottom: 8mm;width:90%;border-color:black;"><hr style="border-color:black;;width:90%;"/>
    </span>
</div>
</span>





    <span ng-if="mode=='register'">
        <table border="1">
                <tr>
                    <td class="deLabel" style="width: 1cm">
                        S.NO
                    </td>
                     <td class="deLabel" ng-repeat="dataElement in contents">
                        {{dataElement.name}}
                     </td>
                </tr>
            <tr ng-repeat="row in rows track by $index">
                <td style="height:9.5mm;text-align:center">{{$index + 1}}</td>
                <td ng-repeat="dataElement in contents" ng-class="getClass(dataElement)">
                </td>
            </tr>
            </table>

        </table>
        
    <table style="margin-top:15px">
            <td class="headerLabel">
                Set Number
            </td>
            <td style=" width:60%;border-bottom: 1px solid black;"></td>
        </table>
    </span>
    </span>