<div class="subpage" ng-controller="pageCtrl">

    <div ng-repeat="content in page.contents">
        <span class="datasetName" ng-if="content.type=='dataSetName'">{{content.name}}</span>

        <div ng-if="content.type == 'section' && content.section.isCatComb " class="section">
                <h4 class="sectionName" ng-if="!content.section.isDuplicate">{{content.section.name}}</h4>
                <table border="1" style="width:{{getTableWidth(content.section)

                }}">
                    <thead>
                    <tr>
                        <td></td>
                        <td class="table-heading" ng-repeat="catComb in content.section.dataElements[0].categoryCombo.categoryOptionCombos">
                            {{catComb.name}}
                        </td>
                    </tr>
                    </thead>
                    <tr ng-repeat="dataElement in content.section.dataElements">

                        <td class="deLabel catComb">
                            {{dataElement.name}}
                        </td>
                        <td class="deField"
                            ng-repeat="catComb in content.section.dataElements[0].categoryCombo.categoryOptionCombos">

                        </td>
                    </tr>
                </table>
        </div>

        <div class="section" ng-if="content.type=='section' && !content.section.isCatComb">
                <h4 class="sectionName" ng-if="!content.section.isDuplicate">{{content.section.name}}</h4>
                <table style="width:90%">

                    <tr ng-repeat="dataElement in content.section.leftSideElements">

                        <td class="deLabel general">
                            {{content.section.leftSideElements[$index].name}}
                        </td>
                        <td class="deField"></td>
                        <td class="seperator" style="width:1cm"></td>
                        <td class="deLabel general" ng-if="content.section.rightSideElements[$index]">
                            {{content.section.rightSideElements[$index].name}}
                        </td>
                        <td class="deField" ng-if="content.section.rightSideElements[$index]"></td>
                    </tr>
                </table>
        </div>

    </div>
</div>