<div>
    <div class="pane-separator header-pane-wrapper">
        <div>
            <div class="header-component">
                {{ 'health_structure' | translate }}
            </div>
            <div class="text-input input-field" ></div>
        </div>
        <div>
            <div class="header-component">
                {{ 'start_or_end_date' | translate }}
            </div>
            <div class="text-input input-field" ></div>
        </div>
    </div>
    <div class="pane-separator header-pane-wrapper">
        <div class="header-component">
            {{ 'supervisor' | translate }}
        </div>
        <div class="text-input input-field" ></div>
    </div>
</div>
