<section-title title="content.title"></section-title>
<table style="width:{{getTableWidth(content.categoryOptionCombos)}};table-layout: fixed;" border="1">
  <thead>
  <tr>
    <td style="display:inline-block;width:{{widthOfDataElementLabel}}; height:{{heightOfTableHeader}};border:none"></td>
    <td class="table-heading" style="width:{{widthOfDataElementField}}; height:{{heightOfTableHeader}};"
        ng-repeat="categoryOptionCombos in content.categoryOptionCombos"
        ng-bind-html="categoryOptionCombos | to_trusted_html">
    </td>
  </tr>
  </thead>
  <tr ng-repeat="dataElement in content.dataElements">

    <td class="deLabel catComb" style="width:{{widthOfDataElementLabel}};height:{{heightOfDataElement}};">
      {{dataElement.displayFormName}}
    </td>
    <td ng-class="isGreyFieldCatCombOption($index,dataElement.greyedFieldIndexes)?'greyFieldCatComb':'deFieldCatComb'"
        style="width:{{widthOfDataElementField}}; height:{{heightOfDataElement}};"
        ng-repeat="catComb in content.categoryOptionCombos">
    </td>
  </tr>
</table>