<section-title title="content.title"></section-title>
<table style="width:{{getTableWidth(content.categoryOptionCombos)}};table-layout: fixed;" border="1">
  <thead>
  <tr>
    <td style="display:inline-block;width:{{widthOfDataElementLabel}}; height:{{heightOfTableHeader}};"></td>
    <td class="table-heading" style="width:{{widthOfDataElementField}}; height:{{heightOfTableHeader}};"
        ng-repeat="categoryOptionCombos in content.categoryOptionCombos"
        ng-bind-html="categoryOptionCombos | to_trusted_html">
    </td>
  </tr>
  </thead>
  <tr ng-repeat="dataElementName in content.dataElementNames">

    <td class="deLabel catComb" style="width:{{widthOfDataElementLabel}} height: {{heightOfDataElement}};">
      {{dataElementName}}
    </td>
    <td class="deFieldCatComb" style="width:{{widthOfDataElementField}}; height:{{heightOfDataElement}};"
        ng-repeat="catComb in content.categoryOptionCombos">
    </td>
  </tr>
</table>