<div class="subpage">
  <template-dataset ng-if="type=='DATASET'" contents="page.contents" dataset-name="page.datasetName"></template-dataset>

  <div ng-if="programMode == 'COVERSHEET'">
    <template-coversheet contents="page.contents" program-name="page.programName" is-last-page="totalPages == pageNumber"></template-coversheet>
  </div>

  <div ng-if="programMode == 'REGISTER'">
    <template-register contents="page.contents" program-name="page.programName" is-last-page="totalPages == pageNumber"></template-register>
  </div>

  <div ng-if="programMode == 'CODESHEET'">
    <code-sheet columns="page.columns" program-name="page.programName"></code-sheet>
  </div>


  <div class="page-number" ng-if="programMode!='REGISTER'">
    Page {{pageNumber}} of {{totalPages}}
  </div>
  <div class="page-number" ng-if="programMode=='REGISTER'">
    Part {{pageNumber}} of {{totalPages}}
  </div>

</div>
