<table class="default-section">

    <tr ng-repeat="dataElement in content.section.leftSideElements">

        <td class="deLabel general">
            {{content.section.leftSideElements[$index].name}}
        </td>
        <td class="yesno" ng-if="content.section.leftSideElements[$index].valueType=='BOOLEAN'">
            <input type="checkbox" class="pffcheckbox">Yes</input>
            <span class="checkbox-separator"></span>
            <input type="checkbox" class="pffcheckbox">No</input>
        </td>

        <td class="deField" ng-if="content.section.leftSideElements[$index].valueType!='BOOLEAN'"></td>

        <td class="default-section-divider"></td>

        <td class="deLabel general" ng-if="content.section.rightSideElements[$index]">
            {{content.section.rightSideElements[$index].name}}
        </td>

        <span ng-if="content.section.rightSideElements[$index]">
            <td class="yesno" ng-if="content.section.rightSideElements[$index].valueType=='BOOLEAN'">
                <input type="checkbox" class="pffcheckbox">Yes</input>
                <span class="checkbox-separator"></span>
                <input type="checkbox" class="pffcheckbox">No</input>
            </td>
            <td class="deField"
                ng-if="content.section.rightSideElements[$index] && content.section.rightSideElements[$index].valueType!='BOOLEAN'">
            </td>
        </span>
    </tr>
</table>