<link href="css/codesheet.css" rel="stylesheet" type="text/css">
<div class="programName">{{ programName }} - Codes</div>

<table class="container">
  <tr>
    <td valign="top" ng-repeat="column in columns track by $index">
      <table class="container">
        <tr ng-repeat="codesheetElement in column" ng-class="getClass(codesheetElement)">
          <td style="height:{{ rowHeight }}mm">{{codesheetElement.code}}</td>
          <td>{{codesheetElement.label}}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
