<link href="css/register.css" rel="stylesheet" type="text/css">
  <div class="programName">{{programName}}</div>
   <table class="header">
        <tr>
            <td class="headerLabel">
                Org Structure
            </td>
            <td class="headerField"></td>

            <td  class="seperator"></td>

            <td class="headerLabel">
                Supervisor
            </td>
            <td class="headerField"></td>

            <td  class="seperator"></td>

            <td class="headerLabel">
                Period
            </td>
            <td class="headerField"></td>

        </tr>
    </table>

<table border="1">
  <tr>
    <td class="sno-header">
      S.NO
    </td>
    <td class="deLabel" ng-repeat="dataElement in contents">
      {{dataElement.name}}
    </td>
  </tr>
  <tr ng-repeat="row in rows track by $index">
    <td class="sno-value" style="height:{{rowHeight}}mm">{{$index + 1}}</td>
    <td ng-repeat="dataElement in contents" ng-class="getClass(dataElement)">
    </td>
  </tr>
</table>

</table>

<table class="footer">
  <td class="set-number-label">
    Set Number
  </td>
  <td class="set-number-value"></td>
</table>