<link href="css/register.css" rel="stylesheet" type="text/css">
  <div class="datasetName">{{programName}}</div>
   <table class="header">
        <tr>
            <td class="headerLabel">
                Org Structure
            </td>
            <td class="headerField"></td>

            <td  class="seperator"></td>

            <td class="headerLabel">
                Supervisor
            </td>
            <td class="headerField"></td>

            <td  class="seperator"></td>

            <td class="headerLabel">
                Period
            </td>
            <td class="headerField"></td>

        </tr>
    </table>

<table border="1">
  <tr>
    <td class="deLabel" style="width: 1cm">
      S.NO
    </td>
    <td class="deLabel" ng-repeat="dataElement in contents">
      {{dataElement.name}}
    </td>
  </tr>
  <tr ng-repeat="row in rows track by $index">
    <!--TODO: remove hardcoded height here...-->
    <td style="height:9.5mm;text-align:center">{{$index + 1}}</td>
    <td ng-repeat="dataElement in contents" ng-class="getClass(dataElement)">
    </td>
  </tr>
</table>

</table>

<table style="margin-top:15px">
  <td class="headerLabel" style="font-size: 0.41cm">
    Set Number
  </td>
  <td style=" width:60%;border-bottom: 1px solid black;"></td>
</table>