<link ng-if="mode=='coversheet'" href="css/coversheet.css" rel="stylesheet" type="text/css">
<link ng-if="mode=='register'" href="css/register.css" rel="stylesheet" type="text/css">
<span ng-controller="programCtrl">
<div class="datasetName">{{programName}}</div>
    <table class="header">
        <tr>
            <td class="headerLabel">
                Org Structure
            </td>
            <td class="headerField"></td>

            <td  class="seperator"></td>

            <td class="headerLabel">
                Supervisor
            </td>
            <td class="headerField"></td>

            <td  class="seperator"></td>

            <td class="headerLabel">
                Period
            </td>
            <td class="headerField"></td>

        </tr>
    </table>


<span ng-if="mode=='coversheet'">
<div ng-repeat="content in contents">

<!--//TODO: refactor as per program - catCombs are not necessary (also duplication between datasetView & ProgramView)-->

    <div ng-if="content.type == 'section' && content.section.isCatComb " class="section">
        <h4 class="sectionName" ng-if="!content.section.isDuplicate">{{content.section.name}}</h4>
        <table border="1" style="width:{{getTableWidth(content.section)}}">
            <thead>
            <tr>
                <td></td>
                <td class="table-heading"
                    ng-repeat="catComb in content.section.programStageDataElements[0].categoryCombo.categoryOptionCombos"
                    ng-bind-html="catComb.name | to_trusted">
                </td>
            </tr>
            </thead>
            <tr ng-repeat="dataElement in content.section.programStageDataElements">

                <td class="deLabel catComb">
                    {{dataElement.name}}
                </td>
                <td class="deField"
                    ng-repeat="catComb in content.section.programStageDataElements[0].categoryCombo.categoryOptionCombos">

                </td>
            </tr>
        </table>
    </div>

    <div class="section" ng-if="content.type=='section' && content.section.isOptionSet">
      <!--TODO: Good name for hidde and extract it out to app.css-->
       <div  class="hideDE" ng-if="content.section.programStageDataElements[0].displayOption == displayOptions.none">
            {{content.section.programStageDataElements[0]}}
        </div>
        <div  ng-if="content.section.programStageDataElements[0].displayOption == displayOptions.text">
            <text-field content="content"></text-field>
        </div>

        <div  ng-if="content.section.programStageDataElements[0].displayOption == displayOptions.list || !content.section.programStageDataElements[0].displayOption">
          <!--#TODO: bring section name back to html-->
          <h4 class="sectionName" ng-if="!content.section.isDuplicate">{{content.section.name}}</h4>
          <list dataelement="content.section.programStageDataElements[0]"></list>
        </div>
    </div>

    <div class="section" ng-if="content.type=='section' && !content.section.isCatComb && !content.section.isOptionSet">
     <text-field content="content"></text-field>
    </div>
    <span ng-if="content.type=='comments'">
        Comments: <hr style="margin-top:8mm;margin-bottom: 8mm;width:90%;border-color:black;"><hr style="border-color:black;;width:90%;"/>
    </span>
</div>
</span>





    <span ng-if="mode=='register'">
        <table border="1">
                <tr>
                    <td class="deLabel" style="width: 1cm">
                        S.NO
                    </td>
                     <td class="deLabel" ng-repeat="dataElement in contents">
                        {{dataElement.name}}
                     </td>
                </tr>
            <tr ng-repeat="row in rows track by $index">
              <!--TODO: remove hardcoded height here...-->
                <td style="height:9.5mm;text-align:center">{{$index + 1}}</td>
                <td ng-repeat="dataElement in contents" ng-class="getClass(dataElement)">
                </td>
            </tr>
            </table>

        </table>
        
    <table style="margin-top:15px">
            <td class="headerLabel" style="font-size: 0.41cm">
                Set Number
            </td>
            <td style=" width:60%;border-bottom: 1px solid black;"></td>
        </table>
    </span>
    </span>