<link ng-if="mode=='COVERSHEET'" href="css/coversheet.css" rel="stylesheet" type="text/css">
<link ng-if="mode=='REGISTER'" href="css/register.css" rel="stylesheet" type="text/css">
<span ng-controller="programCtrl">
<div class="datasetName">{{programName}}</div>
    <table class="header">
        <tr>
            <td class="headerLabel">
                Org Structure
            </td>
            <td class="headerField"></td>

            <td  class="seperator"></td>

            <td class="headerLabel">
                Supervisor
            </td>
            <td class="headerField"></td>

            <td  class="seperator"></td>

            <td class="headerLabel">
                Period
            </td>
            <td class="headerField"></td>

        </tr>
    </table>


    <span ng-if="mode=='COVERSHEET'">
      <coversheet contents="contents"></coversheet>
    </span>


    <span ng-if="mode=='REGISTER'">
      <register contents="contents" rows="rows"></register>
    </span>
</span>