<!DOCTYPE html>
<html lang="en">
<head>
  <link href="css/dependencies.css" rel="stylesheet" type="text/css">
  <link href="css/app.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="spinner-wrapper">
  <img src="resources/img/spinner.gif" ng-if="false"/>
</div>
<span id="app" ng-controller="TallySheetsController" class="hidden">
<d2-header-bar class="noprint"></d2-header-bar>
<div id="under-headerbar" class="noprint"></div>

  <div ng-if="!appLoadingFailed">
    <div id="mainMenu" class="panel panel-default hidden-print">
      <div class="panel-body">
				<span>
					<span id="template-selector-container">
            <template-selector on-change="renderTemplates(selectedTemplates)" load-after="validationProcess" selected-templates-type="$parent.selectedTemplatesType"></template-selector>
            <span ng-if="selectedTemplatesType==PageTypes.PROGRAM">
						<label class="radio-inline">
              <input ng-model="$parent.$parent.programMode" value="{{PageTypes.COVERSHEET}}" type="radio" ng-click="renderTemplates()"> {{ 'cover_sheet' | translate }}
            </label>
						<label class="radio-inline">
              <input ng-model="$parent.$parent.programMode" value="{{PageTypes.REGISTER}}" type="radio" ng-click="renderTemplates()"> {{ 'register' | translate }}
            </label>
            <label class="radio-inline">
              <input ng-model="$parent.$parent.programMode" value="{{PageTypes.CODESHEET}}" type="radio" ng-click="renderTemplates()"> {{ 'code_sheet' | translate }}
            </label>
					</span>
          </span>
					<span>&nbsp;&nbsp;</span>
					<span class="pull-right">
            <button ng-click="exportToExcel('app')" class="btn btn-success hidden-print">{{ 'export_excel' | translate}}</button>
					<button onclick="window.print()" class="btn btn-primary hidden-print">{{ 'print' | translate }}</button>
					</span>
				</span>
      </div>
    </div>
    <inline-alert class="noprint" message="{{inlineAlert.message}}" type="{{inlineAlert.type}}" ng-if="inlineAlert.shown" on-close="onInlineAlertClose()"></inline-alert>
    <link href="css/dataset.css" rel="stylesheet" type="text/css" ng-if="selectedTemplatesType == 'DATASET'">
    <link href="css/coversheet.css" rel="stylesheet" type="text/css" ng-if="$parent.programMode == 'COVERSHEET'">
    <link href="css/register.css" rel="stylesheet" type="text/css" ng-if="$parent.programMode == 'REGISTER'">
    <link href="css/codesheet.css" rel="stylesheet" type="text/css" ng-if="$parent.programMode == 'CODESHEET'">
    <js-tree ng-repeat="node in nodes" root-node="node" selectable="true" on-changed="onTreeSelectionChanged(e, data)"></js-tree>
    <page class="page print-content" ng-repeat="(index,page) in pages" page="page" page-number="index + 1" total-pages="pages.length"></page>
    <div class="spinner-wrapper noprint" ng-show="spinnerShown">
      <img src="resources/img/spinner.gif" alt={{'spinner_loading' | translate }}/>
    </div>
  </div>
  <div ng-if="appLoadingFailed" class="noprint">
    <h2 class="error">{{ 'app_loading_failed' | translate }}</h2>
  </div>
  <modal-alert on-close="closeModalAlert(context)"></modal-alert>
</span>

<script src="dependencies.js" type="text/javascript"></script>
<script src="app.js" type="text/javascript"></script>
<script src="translationsSetup.js" type="text/javascript"></script>
<!-- Load directives and modules -->
<script src="calculatedConfig.js" type="text/javascript"></script>
<script src="config.js" type="text/javascript"></script>
<script src="utils.js" type="text/javascript"></script>
<script src="services.js" type="text/javascript"></script>
<script src="directives.js" type="text/javascript"></script>
<script src="pff-model.js" type="text/javascript"></script>
<script src="factories.js" type="text/javascript"></script>
<script src="boot.js" type="text/javascript"></script>
</body>
</html>
