body {
  width  : 100%;
  height : 100%;
}

#under-headerbar {
  margin-top : 45px; /*#TODO: Not a good thing to do, should find a better way to do this */
  height     : 1px;
}

.print-content {
  margin          : 0;
  padding         : 0;
  font-size       : 3mm;
  box-sizing      : border-box;
  -moz-box-sizing : border-box;
  font-family     : "Lucida Console", Monaco, monospace;
}

input.clean {
  border                : none;
  -webkit-border-radius : 0;
  -moz-border-radius    : 0;
  border-radius         : 0;
  -webkit-box-shadow    : none;
  -moz-box-shadow       : none;
  box-shadow            : none;
  transition            : none;
  -webkit-transition    : none;
  -moz-transition       : none;
  -o-transition         : none;
  transition            : none;
}

.mediumHeaderLabel {
  width : 30mm;
  padding-right: 2mm;
}

.smallHeaderLabel {
  width : 15mm;
  padding-right: 2mm;
}

.largeHeaderField{
  width : 90mm;
  border-bottom : 1px solid black;
}

.mediumHeaderField {
  width : 60mm;
  border-bottom : 1px solid black;
}

.smallHeaderField {
  width : 30mm;
  border-bottom : 1px solid black;
}

.pffcheckbox {
  margin-right : 2mm !important;
}

.option {
  width  : 5cm;
  height : 9mm;
}

.checkboxcontainer {
  margin-left : 5mm;
}

.optionsetTable td {
  padding-right : 10mm;
}

.spinner-wrapper img {
  margin     : 0 auto;
  display    : block;
  margin-top : 100px;
}

.error {
  color : red;
}

#template-selector-container {
  width   : 80%;
  display : inline-block;
}

#template-selection-wrapper {
  margin-right  : 10px;
  margin-bottom : 10px;
  display       : inline-block;
}

.hidden {
  visibility : hidden;
}

@media print {
  .noprint {
    display : none;
  }
}