.page {
  width      : 210mm;
  min-height : 297mm;
  /*padding: 5mm;*/
  /*border: 0.5px #D3D3D3  solid;*/
  /*border-radius: 5px;*/
  background : white;
  box-shadow : 0 0 0 rgba(0, 0, 0, 0.1);
}

.headerLabel {
  /*width: 14%;*/
  padding-right : 2mm;
}

.headerField {
  width         : 40%;
  border-bottom : 1px solid black;
}

.separator {
  width : 5mm;
}

.checkbox-separator {
  margin-right : 5mm;
}

.default-section-divider {
  display : inline-block;
}

.default-section {
  //width : 90%;
}

.programName {
  text-align    : center;
  border        : none;
  font-size     : 6mm;
  margin-bottom : 5mm;
}

.subpage {
  margin           : 2mm auto;
  padding          : 2mm;
  width            : 200mm;
  border           : 0.7mm red solid;
  height           : 278mm;
  page-break-after : always;
  position         : relative;
}

.content {
  margin-bottom : 2mm;
}

.comments-line {
  width        : 90%;
  border-color : black;
}

#comments-line1 {
  margin-top    : 8mm;
  margin-bottom : 8mm;
}

.deField {
  //width         : 20%;
  border-bottom : 1px solid black;
  display       : inline-block;
}

.deLabel {
  //width         : 30mm;
  display       : inline-block;
  padding-right : 5mm;
  overflow      : hidden;
}

.deLabel.general {
  //width      : 25%;
  text-align : right;
  //height     : 9mm;
}

.deLabel.optionSetDataElement {
  text-align : right;
}

.table-heading {
  display    : inline-block;
  text-align : center;
  overflow   : hidden;
  height     : 15mm;
}

.header {
  font-weight   : 600;
  font-size     : 2.5mm;
  margin-bottom : 8mm;
}

table {
  border-collapse : collapse;
}

/*td {*/
/*padding-top: 3mm;*/
/*}*/

.sectionName {
  font-size : 4mm;
}

@page {
  size   : A4;
  margin : 0;

}

.page-number {
  text-align : right;
  position   : absolute;
  bottom     : 5px;
  width      : 95%;
}

@media print {
  html, body {
    height : 297mm;
    width  : 210mm;
  }

  .page {
    margin           : 0;
    border           : initial;
    border-radius    : initial;
    width            : initial;
    min-height       : initial;
    box-shadow       : initial;
    background       : initial;
    page-break-after : always;
  }
  .subpage {
    border : none;
    margin : 8mm;
  }
}