.content {
  margin-bottom : 2mm;
}

.page {
  width      : 210mm;
  min-height : 297mm;
  /*padding: 5mm;*/
  /*border: 0.5px #D3D3D3  solid;*/
  /*border-radius: 5px;*/
  background : white;
  box-shadow : 0 0 0 rgba(0, 0, 0, 0.1);
}

.subpage {
  margin           : 2mm auto;
  padding-bottom   : 2mm;
  padding-left     : 2mm;
  padding-right    : 2mm;
  width            : 200mm;
  border           : 0.7mm red solid;
  height           : 278mm;
  page-break-after : always;
  position         : relative;
}

.notfirstpage {
  padding-top: 8mm;
}

.firstpage {
  padding-top: 2mm;
}

.deField {
  //width         : 20%;
  display       :inline-block;
  border-bottom : 1px solid black;
}

.deFieldCatComb {
  //width         : 4cm;
  display : inline-block;
  border-bottom: none;
  border-right: none;
}
.greyDeField {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M1 0 L0 1 L99 100 L100 99' fill='black' /></svg>");
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 100% 100%, auto;
}

.separator {
  width : 5mm;
}

.checkbox-separator {
  margin-right : 5mm;
}

.default-section-divider {
  display: inline-block;
}

.default-section {
  //width : 100%;
}

.deLabel {
  //width         : 3cm;
  display       : inline-block;
  padding-right : 5mm;
  overflow      : hidden;
}

.deLabel.catComb {
  text-align    : right;
  height        : 12mm;
  padding-right : 2mm;
  padding-left  : 1mm;
  border-right :none;
  border-left: none;
  border-bottom: none;
}

.deLabel.general {
  //width      : 25%;
  text-align : right;
  //height     : 9mm;
}

.deLabel.optionLabel {
  width      : 4.8cm;
  text-align : right;
  height     : 9mm;
}

.table-heading {
  display       : inline-block;
  text-align    : center;
  overflow      : hidden;
  border-top: none;
  border-right: none;
  border-bottom :none;
  margin-bottom: -2px;
  //height     : 15mm;
  //width      : 3cm;
}

.header {
  font-weight   : 600;
  font-size     : 2.5mm;
  margin-bottom : 5mm
}

.datasetName {
  border      : none;
  font-size   : 3.5mm;
  font-weight : 700;
  height      : 3.5mm;
}

table {
  border-collapse : collapse;
}

.sectionName {
  font-size   : 3mm;
  height      : 5mm;
  font-weight : 600;
}

@page {
  size   : A4;
  margin : 0;
}

.page-number {
  text-align : right;
  position   : absolute;
  bottom     : 5px;
  width      : 95%;
}

@media print {
  html, body {
    height : 297mm;
    width  : 210mm;
  }
  .page {
    margin           : 0;
    border           : initial;
    border-radius    : initial;
    width            : initial;
    min-height       : initial;
    box-shadow       : initial;
    background       : initial;
    page-break-after : always;
  }
  .subpage {
    border : none;
    margin : 8mm;
  }
  .greyDeField {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M1 0 L0 1 L99 100 L100 99' fill='black' /></svg>") !important;
    background-repeat:no-repeat !important;
    background-position:center center !important;
    background-size: 100% 100%, auto !important;
  }
}