<div>
    <table style="height: {{ component.height + 'mm'}}; width:{{getTableWidth(component.catCombOptions)}};
table-layout: fixed; margin-top: {{ topMargin }}" border="1" class="text-center">
        <thead>
        <tr class="catcomb-table-header" style="height: {{heightOfTableHeader}};">
            <th ng-style="{ height: heightOfDataElement, width: widthOfDataElementField, border: 'none' }"></th>
            <th ng-class="{catCombGroupBorder:catCombOption.isEnd == true}" style="width: {{ widthOfDataElementField
            }};text-align: center;"
                ng-repeat="catCombOption in component.catCombOptions"
                ng-bind-html="catCombOption.displayName | to_trusted_html">
            </th>
        </tr>
        </thead>
        <tr ng-repeat="dataElement in component.dataElements">

            <td class="catComb" style="width: {{widthOfDataElementLabel}};">
                <div style="height: {{ heightOfDataElement }};
            overflow: hidden;margin: 0;padding: 0;">
                    {{dataElement.displayFormName}}
                </div>
            </td>
            <td ng-repeat="catCombOption in component.catCombOptions"
                style="width: {{ widthOfDataElementField }}; height: {{ heightOfDataElement }};"
                ng-class="{catCombGroupBorder:catCombOption.isEnd == true}"
                class="{{ isGreyFieldCatCombOption($index,dataElement.greyedFieldIndexes) ? 'greyDeField' : '' }}"
            >
            </td>
        </tr>
    </table>
</div>